In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('streamlit_app\data\superstore.csv')
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   row_id         9994 non-null   int64
 1   order_id       9994 non-null   object
 2   order_date     9994 non-null   object
 3   ship_date      9994 non-null   object
 4   ship_mode      9994 non-null   object
 5   customer_id    9994 non-null   object
 6   customer_name  9994 non-null   object
 7   segment        9994 non-null   object
 8   country        9994 non-null   object
 9   city           9994 non-null   object
 10  state          9994 non-null   object
 11  postal_code    9994 non-null   int64
 12  region         9994 non-null   object
 13  product_id     9994 non-null   object
 14  category       9994 non-null   object
 15  subcategory    9994 non-null   object
 16  product_name   9994 non-null   object
 17  sales          9994 non-null   float64
 18  quantity       9994 non-null   int64
 19  discount       9994 non-null   float64
 20  profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [3]:
df['customer_name'].nunique()

793

In [4]:
best_customer = pd.pivot_table(
    data=df,
    index='customer_name',
    aggfunc={
        'sales': 'sum'
    } ).reset_index()

In [5]:
best_customer = best_customer.sort_values(by=['sales'], ascending=False).head(10)
# best_customer.reset_index(inplace=True)
best_customer['sales'] = best_customer['sales'].round(2)

In [6]:
best_customer

          customer_name     sales
686         Sean Miller  25043.05
730        Tamara Chand  19052.22
622        Raymond Buch  15117.34
757        Tom Ashbrook  14595.62
6         Adrian Barton  14473.57
441        Ken Lonsdale  14175.23
671        Sanjit Chand  14142.33
334        Hunter Lopez  12873.30
672        Sanjit Engle  12209.44
156  Christopher Conant  12129.07

In [7]:
group_cat_customer = pd.pivot_table(
    data=df,
    index=['customer_name', 'category'],
    aggfunc={
        'sales': 'sum'
    }
).reset_index()

In [8]:
group_cat_customer

           customer_name         category     sales
0          Aaron Bergman        Furniture   390.672
1          Aaron Bergman  Office Supplies   273.504
2          Aaron Bergman       Technology   221.980
3          Aaron Hawkins        Furniture   365.906
4          Aaron Hawkins  Office Supplies   675.864
...                  ...              ...       ...
2177    Zuschuss Carroll  Office Supplies  1819.645
2178    Zuschuss Carroll       Technology  2306.372
2179  Zuschuss Donatelli        Furniture    87.840
2180  Zuschuss Donatelli  Office Supplies   108.704
2181  Zuschuss Donatelli       Technology  1297.400

[2182 rows x 3 columns]

In [9]:
merged_df = pd.merge(best_customer, group_cat_customer, on='customer_name', how='left')
merged_df.head()

  customer_name   sales_x         category    sales_y
0   Sean Miller  25043.05        Furniture    679.570
1   Sean Miller  25043.05  Office Supplies    881.972
2   Sean Miller  25043.05       Technology  23481.508
3  Tamara Chand  19052.22  Office Supplies   1054.268
4  Tamara Chand  19052.22       Technology  17997.950

In [10]:
# Calculating Frequency
recency_df = df.groupby('customer_name', as_index=False)['order_date'].max()
recent_date = recency_df['order_date'].max()
recency_df['Recency'] = recency_df['order_date'].apply(
    lambda x: (recent_date - x).days)
recency_df.rename(columns={'order_date':'Last Purchase Date'}, inplace=True)

# Calculating Frequency
frequency_df = df.groupby('customer_name', as_index=False)['order_date'].count()
frequency_df.rename(columns={'order_date':'Frequency'}, inplace=True)

# Calculating monetary
monetary_df = df.groupby('customer_name', as_index=False)['sales'].sum()
monetary_df.rename(columns={'sales':'Monetary'}, inplace=True)

# Merging all three df in one df
rfm_df = recency_df.merge(frequency_df, on='customer_name')
rfm_df = rfm_df.merge(monetary_df, on='customer_name')
rfm_df['Monetary'] = rfm_df['Monetary'].round(2)
rfm_df.drop(['Last Purchase Date'], axis=1, inplace=True)

rank_df = rfm_df.copy() # We make copy of rfm_df because we will need RFM features later

# Normalizing the rank of the customers
rank_df['r_rank'] = rank_df['Recency'].rank(ascending=False)
rank_df['f_rank'] = rank_df['Frequency'].rank(ascending=False)
rank_df['m_rank'] = rank_df['Monetary'].rank(ascending=False)

rank_df['r_rank_norm'] = (rank_df['r_rank'] / rank_df['r_rank'].max()) * 100
rank_df['f_rank_norm'] = (rank_df['f_rank'] / rank_df['f_rank'].max()) * 100
rank_df['m_rank_norm'] = (rank_df['m_rank'] / rank_df['m_rank'].max()) * 100

rank_df.drop(['r_rank','f_rank','m_rank'], axis=1, inplace=True)

# Calculating RFM scores
rank_df['rfm_score'] = (0.15*rank_df['r_rank_norm']) + (0.28*rank_df['f_rank_norm']) + (0.57*rank_df['m_rank_norm'])
rank_df = rank_df[['customer_name','rfm_score']]
rank_df['rfm_score'] = round(rank_df['rfm_score']*0.05, 2)

# Masking all customers rfm scores by rating conditions to set customer segments easily
top_customer_mask = (rank_df['rfm_score'] >= 4.5)
high_value_mask = ((rank_df['rfm_score']<4.5) & (rank_df['rfm_score']>=4))
medium_value_mask = ((rank_df['rfm_score']<4) & (rank_df['rfm_score']>=3))
low_value_mask = ((rank_df['rfm_score']<3) & (rank_df['rfm_score']>=1.6))
lost_mask = (rank_df['rfm_score'] < 1.6)

rank_df.loc[top_customer_mask, 'Customer Segment'] = 'Top Customer'
rank_df.loc[high_value_mask, 'Customer Segment'] = 'High Value Customer'
rank_df.loc[medium_value_mask, 'Customer Segment'] = 'Medium Value Customer'
rank_df.loc[low_value_mask, 'Customer Segment'] = 'Low Value Customer'
rank_df.loc[lost_mask, 'Customer Segment'] = 'Lost Customer'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [ ]:
# Visualization of customer segments
colors = ['#0FABC4','#12C6E1','#5FDFEE','#85E8F7','#A6C5CA']
plt.pie(rank_df['Customer Segment'].value_counts(), labels=rank_df['Customer Segment'].value_counts().index,
       autopct='%.2f%%', pctdistance=0.8, labeldistance=1.1, colors=colors,
       shadow=False, wedgeprops={'edgecolor':'k','linewidth':0.2})
plt.title('Customer Segments')
plt.show()